<web-app>

<servlet>
		<servlet-name>sms</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		
		<init-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/configs/sms-servlet.xml</param-value>
    </init-param>
		
		
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>sms</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
	<welcome-file>/WEB-INF/Jsps/SmsUsingJson.jsp</welcome-file>
	
	</welcome-file-list>
	
	
</web-app>